.container {
  font-size: 1.5rem;
  justify-content: normal;
  width: 100%;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 0.3rem;
  border-width: var(--border-width);
  overflow: hidden;
  height: 150px;
}

.hr {
  border-color: var(--default-color);
  width: 100%;
  border-style: solid;
}

.img_container {
  /* filter: brightness(50%); */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

/* .container:hover>.img_container { */
/*   filter: brightness(100%); */
/* } */
