.container {
  box-sizing: border-box;
  max-width: calc(calc(var(--content-width) / 2) - 15px);
  color: var(--default-color);
  border-style: solid;
  border-color: var(--default-color);
  border-width: 2px;
  border-radius: 5px;
  row-gap: 0.5rem;
  padding-bottom: 0.5rem;
  height: 25rem;
  justify-content: space-between;
}


@media (max-width: 1024px) {
  .container {
    box-sizing: border-box;
    max-width: 100%;
    color: var(--default-color);
    border-style: solid;
    border-color: var(--default-color);
    border-width: 2px;
    border-radius: 5px;
    row-gap: 0.5rem;
    padding-bottom: 0.5rem;
    height: 100%;
  }
}


.title {
  font-size: 1.3rem;
  font-weight: 900;
  padding-inline: 0.5rem;
}

.summary {
  padding-inline: 0.5rem;
}

.tag_list {
  box-sizing: border-box;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  column-gap: 0.5rem;
  min-height: 5rem;
  row-gap: 0.25rem;
  padding-inline: 0.5rem;
}

.img_container {
  /* filter: brightness(50%); */
  min-width: 100%;
  overflow: hidden;
  height: 100px;
  box-sizing: border-box;
  position: relative;
}

/* .container:hover>.img_container { */
/*   filter: brightness(100%) */
/* } */
