.container {
  box-sizing: border-box;
  max-width: calc(calc(var(--content-width) / 2) - 12px);
  color: var(--default-color);
  border-style: solid;
  border-color: var(--default-color);
  border-width: 2px;
  border-radius: 5px;
  row-gap: 0.5rem;
  padding-bottom: 0.5rem;
}


@media (max-width: 1024px) {
  .container {
    box-sizing: border-box;
    max-width: 100%;
    color: var(--default-color);
    border-style: solid;
    border-color: var(--default-color);
    border-width: 2px;
    border-radius: 5px;
    row-gap: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.title {
  font-size: 1.3rem;
  padding-inline: 0.5rem;
}

.summary {
  padding-inline: 0.5rem;
}

.tag_list {
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  column-gap: 0.5rem;
  row-gap: 0.25rem;
  padding-inline: 0.5rem;
}

.img_container {
  min-width: 100%;
  overflow: hidden;
  min-height: 100px;
  box-sizing: border-box;
  position: relative;
}
