.content {
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.img_container {
  position: relative;
  width: 100%;
}

.warning {
  color: var(--red);
}

.video {
  border-width: 0px;
}

.code {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: #000000;
  overflow-x: scroll;
  scrollbar-color: var(--default-color) transparent;
  scrollbar-width: thin;
}
