:root {
  /* Colors  */
  --default-color: hsl(61, 100%, 91%);
  --red: #D8647EFF;
  background-color: #1A1316;
  color: var(--default-color);
  font-size: 20px;

  /* Layout */
  --content-width: 780px;
  --border-width: 2px;
  --inner-max-width: 98%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* For the root element for each page */
.content-container {
  max-width: var(--content-width);
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 1024px) {
  .content-container {
    max-width: 100vw;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-inline: 1rem;
  }

  :root {
    /* Colors  */
    --default-color: hsl(61, 100%, 91%);
    --red: #D8647EFF;
    background-color: #1A1316;
    color: var(--default-color);
    font-size: 16px;

    /* Layout */
    --content-width: 780px;
    --border-width: 2px;
    --inner-max-width: 98%;
  }
}


/* Used for root element in (tabs) route group */
.tab-content-container {
  width: 100%;
  row-gap: 1rem;
}

/* Used for things 1 layer deep inside of 'content-container' */
.inner-content {
  width: var(--inner-max-width);
}

a {
  text-decoration: none;
  color: var(--default-color);
}

blockquote {
  box-sizing: border-box;
  border-left: solid;
  border-width: 0.5rem;
  border-color: var(--default-color);
  padding-left: 1rem;
}
