* {
  padding: 0;
  margin: 0;
}

:root {
  /* Colors  */
  --default-color: #FEFFCF;
  background-color: #1A1316;
  color: var(--default-color);


  /* Layout */
  --content-width: 780px;
  --border-width: 2px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--default-color);
}
