.container {
  max-width: var(--content-width);
  margin: auto;
  padding-top: 2rem;
  row-gap: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 1rem;
}

.cards_container {
  max-width: 100%;
  row-gap: 1rem;
}

@media (max-width: 1024px) {
  .container {
    max-width: 95vw;
    margin: auto;
    padding-top: 2rem;
    row-gap: 2rem;
  }
}
