.nav {
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5rem;
}

.nav_container {
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}
